body{
    
    background: #161616;
}
.logo{
    margin-left: 120px;
    }
.nav-container{
    padding-top: 0.5%;
    padding-bottom: 2.5%;
}
.navbar-nav .nav-item a.nav-navigation-link{
    font-size: 18px !important;
}

.frontend-banner{
    background-color: #212121;
    max-width: 90%;
    margin: auto auto 78px;
    color: ivory;
    padding: 20px 31px 31px;
}
button.btn.enroll-btn{
    border: 1px solid #F8DA64;
    color: #f8da64;
    font-size: 17px;
    padding: 11px 24px;
}
.btn.enroll-btn:hover{
 background-color: #f8da64 !important;
 color:#000;
}
.course-inner-card-container{
    height: 320px;
    border: .5px solid #fff;
    border-radius: 9px;
    padding: 30px;
    background: #3442D9;
}
.card-content li{
    font-size: 17px;

    font-weight: 300;
    margin-top: 19px ;
}
p.course-intro{
    font-size: 15px;
    font-weight: 100;
}
ul.details-list li{
    font-weight: 300;
    margin-top: 22px;
    font-size: 14px;
}
ul.details-list b{
    font-weight: 700;
}
.course-card-container{
    margin-top: 55px;
}
button.btn.redirected-btn a{
    color: #f8da63;
    font-size: 19px;
}
.course-redirected-block{

    margin-bottom: 26px;
}
input.form-control{
    border-top: none !important;
    border-right: none !important;
  border-left: none !important;
      border-radius: 0px !important;
      background: #212121 !important;
      outline: none !important;
      color:#fff !important;
     
  }
  textarea.form-control{
    border-top: none !important;
    border-right: none !important;
  border-left: none !important;
      border-radius: 0px !important;
      background: #212121 !important;
      outline: none !important;
      color:#fff !important;
     
  }
  select.form-select{
      border-top: none !important;
      border-right: none !important;
    border-left: none !important;
        border-radius: 0px !important;
        background: #212121 !important;
        outline: none !important;
        color: #545353 !important;
        /* color:#fff; */
        font-weight: 200;
        
        border-bottom: 1px sold #fff;
       
    } 
    #sel11{
        color: #fff !important;
    }
    select:focus{
      outline:auto !important;
    }
  input:focus{
      outline: none !important;
  }
  ::placeholder{
      color:#36483e !important;
  }
  .btn.btn-register{
    border-radius: 45px;
    border: 1px solid #F7DA64;
    margin-top: 33px;
    color: #f7da64;
    padding: 8px 48px;
    width: 300px;
  }
  .modal-content{
    background:#212121 !important;
  }
  .modal-header{
    border-bottom: none;
  }
  .modal-footer{
    border-top: none;
  }
  #footerid{
    flex-direction: column;
   }
  .modal-footer{
    
    text-align: center !important;
  }
  span.small-text{
    display:inline-block !important;
  }
footer{
    background: url("https://hashinclude.info/footer-bg.cc00989cacc2122a.svg");
   
    background-size: cover;
    color: #0b7077;
    padding: 7% 7% 5%;
}
.contact-info a{
    text-decoration: none; 
    color: #0b7077;

}
.categories a{
    text-decoration: none; 
    color: #0b7077;
}
.links a{
    text-decoration: none; 
    color: #0b7077;
}
h6.footer-heading{
    color: #0a033c;
    font-weight: 600;

}
@media screen and (max-width:767px){
    .fe-image{
        
           
            margin: auto;
            width: 100% ;
       
    }
}